<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.js"></script>
</head>
<body>

{% verbatim %}

<div class="container" id="orders_app">
    <div class="btn btn-success btn-lg" v-for="order in orders">
        Description: {{ order.description }}
        <br>
        Amount: {{ order.amount }}
    </div>
</div>

{% endverbatim %}

<script src="static/app.js"></script>
</body>
</html>